<!DOCTYPE html>
{% set amount = amount or 9599 %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Charge</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/checkout.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/cover.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="/static/js/toastr-config.js"></script>
    <script>

      Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');

      $(document).ready(function(){

        // Payment attempt
        var payment_attempt = 0;

        // Connect to generalized context
        var socket = io();

        socket.on('connect', function() {
          socket.emit('join', { room: '{{ uuid }}' });
          socket.emit('message', { data: 'Connected, thanks!', room: '{{ uuid }}' });
          console.log('Connected.');
        });

        socket.on('message', function(msg) {
          console.log('Received: ' + msg.data);
        });

        socket.on('res', function(msg) {

          $('#cover').show();
          $('.loading-modal').hide();

          if (msg.success) {
            $('.loading-modal.successful').show();
          } else {
            $('.loading-modal.failed').show();
            toastr["error"](msg.message);
            setTimeout(function () {
              $('#cover').hide();
              $('.loading-modal').hide();
            }, 3000);
          }

        });

        $('.checkout').on('submit', function (e) {
          e.preventDefault();

          $('#cover').show();
          $('.loading-modal').hide();
          $('.loading-modal.processing').show();

          $form = $(this);
          Stripe.card.createToken($form, function(status, response) {
            if (!response.error) {

              var token = response.id;
              var email = $('input[name="email"]').first().val();
              var name = $('input[name="name"]').first().val();

              data = {
                token: token,
                amount: {{ amount }},
                idempotency_key: '{{ uuid }}',
                email: email,
                name: name,
                payment_attempt: payment_attempt
              }

              $.post('/charge', data);

            } else {

              toastr["error"]('Tokenization has failed...');

            }

            payment_attempt++;

          });
        });

      });

    </script>
  </head>
  <body>

    <div id="cover"></div>
    <div class="loading-modal processing">Processing payment...</div>
    <div class="loading-modal successful">Payment was successful!</div>
    <div class="loading-modal failed">Payment has failed!</div>

    <div class="form-container">
    <form class="checkout" action="/charge" method="POST">
      <div class="checkout-header">
        <h1 class="checkout-title">
          Checkout
        </h1>
      </div>
      <p>
        <input type="text" class="checkout-input checkout-email" data-stripe="email" placeholder="me@email.com" name="email" autofocus>
      </p>
      <p>
        <input type="text" class="checkout-input checkout-name" data-stripe="name" placeholder="Your name" name="name">
        <input type="text" class="checkout-input checkout-exp" data-stripe="exp_month" placeholder="MM">
        <input type="text" class="checkout-input checkout-exp" data-stripe="exp_year" placeholder="YY">
      </p>
      <p>
        <input type="text" class="checkout-input checkout-card" data-stripe="number" placeholder="4111 1111 1111 1111">
        <input type="text" class="checkout-input checkout-cvc" data-stripe="cvc" placeholder="CVC">
      </p>
      <p>
        <button type="submit" value="Pay ${{ '{0:0.2f}'.format(amount/100.0) }} USD" class="checkout-btn">Submit</button>
      </p>
      <input type="hidden" name="uuid" value="{{ uuid }}">
      <input type="hidden" name="amount" value="{{ amount }}">
    </form>
    </div>
  </body>
</html>
